*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
}  
@font-face{
	font-family: PressStart2P-Regular;
	src:url(../fonts/PressStart2P-Regular.ttf);
}
body {
	background-color: #273b4e;
	font-family: "Press Start 2P", sans-serif;
}
.main{
	background-color: #26656d;
	display:flex;
   width: 81%;
   
   margin:auto;
   box-shadow: 0 0 20px 5px rgba(0,0,0,1);
   flex-wrap:wrap;
}
.item {
	max-height:550px; 
	max-width:490px;
	height: calc(85vw / 2 / 16 * 9);
	width: calc(85vw /2 - 10px);
	background-color: white;
	
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}
.heading {
	color:#0e96e6;
	font-size:28px;
	text-align:center;
	width: 100%; 
	padding: 30px 0;
}
.img_link {
	display:block;
	opacity: 0.4;
	transition: opacity 0.4s /*linear;*/ /*ease;*/ /*ease-in;*/ /*ease-out;*/ ease-in-out, transform 0.6s ease-in-out, box-shadow 0.3s ease-in-out;
    margin:5px;
    box-shadow: 0 0 20px 5px rgba(0,0,0,0.9);
}
.img_link:hover {
	opacity: 1;
	transform: scale(1.1); 
	z-index: 10; 
	box-shadow: 0 0 20px 5px rgba(0,0,0,0.9);

}

@media all and (max-width: 768px){
	.heading{
		font-size: 10px;
	}
	.item{
		max-height: initial;
		max-width: initial;
        width: 85vw;
        height: calc(85vw / 16 * 9);
	}
	.img_link{
		margin: 5px 0;
	}
}

@media all and (min-width: 1200px){
	.img_link:hover {
	opacity: 1;
	transform: scale(1.1); 
	z-index: 10;
	box-shadow: 0 0 20px 5px rgba(0,0,0,0.9);

}
a{
	color:red;
	text-decoration: none;
	margin-left:100px;
	background-color: black;
}
.linkback{
	font-size:45px;
	background-color: #000;
	padding-top:50px;
	padding-bottom:50px;

}